@import url('https://fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i');

*{
    font-family: 'Thasadith', sans-serif;
    text-align: center;
}

body{
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

select{
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    width: 80%;
    /* margin-left: 10%; */
    margin: 20px 10%;
}

button{
    padding: 7px;
    border-radius: 13px;
    width: 50%;
    background-color:tomato;
    color: white;
    margin: 20px 25%;
}   

h1{
    text-align: center;
    font-size: -webkit-xxx-large;
    text-transform: uppercase;
}

.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    width: 20%;
    margin-left: 40%;
}

button:hover{
    background-color: cadetblue;
}